<nav class="navbar navbar-dark bg-dark d-print-none navbar-expand-lg fixed-top ps-3 pe-3" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand" href="/">AIPREF</a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbar-collapse">
      
    <div class="navbar-nav me-auto">

      <a class="nav-item ms-1 text-white" href="/drafts/">Work In Progress</a>

      <div class="dropdown ms-4">
        <a href="#" class="nav-item dropdown-toggle text-white" data-bs-toggle="dropdown">Participate</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="/CONTRIBUTING.html">Contributing</a></li>
            <li class="dropdown-item"><a href="https://datatracker.ietf.org/wg/aipref/charter/">WG Charter</a></li>
            <li class="dropdown-item"><a href="https://mailman3.ietf.org/mailman3/lists/ai-control.ietf.org/">Group Mailing List 📨</a></li>
            <li class="dropdown-item"><a href="/wg-materials/">Meeting Materials</a></li>
          </ul>
      </div>
    </div>
            
  </div>
</nav>
